{% extends 'base.html.twig' %}

{% block title %}Bonjour !{% endblock %}

{% block body %}
{% for i in 0..3 %}
Bonjour tout va bien !
{% endfor %}
{% endblock %}
{% block header %}
<h2>Bonjour</h2>
{% endblock %}
{% block javascripts %}
<script>
    alert('Bonjour !');
</script>
{% endblock %}
