{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<span>Tri par langues</span>
	<span>Tri par autres</span>
	<span>Tri Public/Privé</span>
	<span>Tri Favori</span>
	<span>Recherche par nom (Ajax)</span>

	<button>+</button>

	<div class="card">
		{% for liste in listesVocabulaire %}
			<p>{{liste.titre}}</p>

		{% endfor %}
	</div>

{% endblock %}
