/* POLICES */

@font-face {
    font-family: JaldiRegular;
    src: url("../fonts/Jaldi-Regular.ttf");
}

@font-face {
    font-family: JaldiBold;
    src: url("../fonts/Jaldi-Bold.ttf");
}

@font-face {
    font-family: PaytoneOneRegular;
    src: url("../fonts/PaytoneOneRegular.ttf");
}


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(126, 255, 141, 41%) 0%, rgba(102, 102, 102, 17%) 100%);
    font-family: JaldiRegular;
    overflow: hidden;

}

#main-contener {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 90%;
}

.shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.shadow-box {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.alert {
    background-color: #f80000;
    color: #ffffff;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* TITRES */

h2 {
    font-family: PaytoneOneRegular;
    font-size: 3rem;
}

/* BOUTONS */

.btn1 {
    font-family: JaldiRegular;
    width: fit-content;
    font-size: 1.5rem;
    color: #382300;
    background-color: #FFCD42;
    border-radius: 15px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.btn1:hover {
    background-color: #ffd76a;
    text-decoration: underline;
}


/* HEADER */

header {
    height: 10%;
}

#header-main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#profil-circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #FFCD42;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
}

#profil-circle:hover {
    background-color: #ffd76a;
    cursor: pointer;

}

.profil-name {
    color: #363333;
    font-size: 1rem;
    margin: auto;
    margin-top: 0.2rem;
    text-align: center;
    font-family: JaldiBold;

}

#profil {
    width: 2rem;

}

#logo {
    width: 8rem;

}

.profil-pannel {
    background-color: #FFE089;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    font-size: 1rem;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
    font-family: PaytoneOneRegular;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 4.5rem;
    right: 4.5rem;
}

.profil-pannel img {
    width: 1.2rem;
}

.profil-pannel span {
    margin-left: 0.2rem;
}

.profil-pannel a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: #363333;
}

.profil-pannel a:hover {
    text-decoration: underline;
}


/* LOGIN */

.container-log {
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
    padding: 1.5rem;
    border-radius: 20px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
    margin: auto;
}

.h2-log {
    margin: 0.8rem 2.2rem 1.2rem 2.2rem;
}

.form-log,
.form-log-register {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.form-log label,
.form-log-register label {
    font-size: 1.4rem;
}

.form-log .checkbox {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-log .checkbox input {
    margin-right: 0.4rem;
    margin-bottom: 0;
}

.form-log-register div label,
.form-log-register div input {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.form-log input,
.form-log-register input {
    margin-bottom: 0.2rem;
    height: 1.5rem;
}


.register-btn {
    margin: auto;
    margin-top: 1.5rem;
}

.container-log .btn1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.log-btn {
    margin: auto;
}

.text-fin-log {
    display: flex;
    margin: auto;
    margin-top: 0.3rem;

}

.text-fin-log p {
    margin: 0.3rem;
    margin-right: 0.1rem;
    font-size: 1rem;
}

.text-fin-log a {
    color: #FFFFFF;
}

.text-fin-log a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}



/* CARDS / ACCUEIL */


.cards-contener-main {
    width: 60%;
    height: 90%;
    overflow: scroll;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 20px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
    display: flex;
    flex-direction: column;
}

.options-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-search-left {
    display: flex;
    margin: 1rem;
}

.options-search input,
.options-search select,
.checkbox-input {
    margin-right: 0.5rem;
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 1rem;
    padding: 0.2rem;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: #363333;
    cursor: pointer;
}

.checkbox-input p {
    margin-right: 0.5rem;
}


.options-search label {
    display: none;
}

#recherche-titre {
    margin-right: 0.5rem;
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 1rem;
    padding: 0.2rem;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: #363333;
    cursor: pointer;
}

.circle-plus-button {
    background-color: #FFCD42;
    color: #363333;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;

    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.circle-plus-button:hover {
    background-color: #ffd76a;
    cursor: pointer;
}

.circle-plus-button img {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}


#recherche-titre {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

#recherche-titre input {
    margin-left: 1rem;
    margin-right: 0.5rem;
}


.cards-and-plus-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cards-contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.card {
    padding: 10px;
    width: 10rem;
    height: fit-content;
    margin: 1rem;
    background-color: #3C6D2A;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.en-tete-card {
    display: flex;
    justify-content: space-between;
    height: 2rem;
}

.en-tete-card img {
    width: 2rem;
}

.langue {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.createur-liste {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-style: italic;
}


.titre-liste-contener {
    width: 80%;
    margin: auto;
}

.titre-liste {
    font-family: PaytoneOneRegular;
    text-transform: uppercase;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
    height: 4rem;
    overflow: auto;
    overflow-wrap: anywhere;
    word-break: break-word;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;

}

.note-liste {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.note-liste img {
    width: 1rem;
    padding: 0.1rem;
}

.note-liste span {
    font-size: 0.8rem;
    font-style: italic;
}

.heart-icon {
    width: 1.3rem;
    cursor: pointer;
    display: flex;
    margin: auto;
    margin-top: 0.5rem;
}

.meilleur-score {
    font-size: 1rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.footer-card {
    display: block;
}


.footer-card .play-img {
    width: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 0.5rem;
}

.play-icon {
    cursor: pointer;
    background-color: #FFCD42;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    margin: auto;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.edit-and-delete {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.edit-delete-icon {
    cursor: pointer;
    background-color: #FFCD42;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.edit-and-delete img {
    width: 1rem;
    cursor: pointer;
}

.button-plus-bottom {
    display: flex;
    margin: auto;
    margin-top: 1rem;
}



/* QUIZZ */
/* INDEX QUIZZ */

.quizz-container {
    width: 50%;
    height: fit-content;
    overflow: scroll;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 20px 30px 20px 30px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
    display: flex;
    flex-direction: column;
}

.quizz-entete h2 {
    text-transform: uppercase;
    font-family: PaytoneOneRegular;

}

.circle-bouton-retour {
    cursor: pointer;
    background-color: #FFCD42;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    margin: auto;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.circle-bouton-retour img {
    width: 2rem;
    cursor: pointer;
}

.circle-bouton-retour:hover {
    cursor: pointer;
    background-color: #ffd76a;
}

.quizz-entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quizz-info {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.quizz-info p {
    margin-right: 3rem;
}

.quizz-info-langues {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.quizz-info-langues p {
    font-size: 1.8rem;
    font-family: PaytoneOneRegular;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.quizz-info-langues img {
    cursor: pointer;
    height: 1.8rem;
    padding: 0.5rem;
}

.quizz-info-reponse-maj {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quizz-info-difficulte {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;

}

.quizz-info-difficulte div {
    display: flex;
    align-items: center;
}

.quizz-info-difficulte form {
    width: 100%;
}

.quizz-info-difficulte select {
    margin-right: 0.5rem;
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 1.5rem;
    padding: 0.2rem;
    width: 12rem;
    color: #363333;
    cursor: pointer;
}

.quizz-info-difficulte label {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.quizz-info-difficulte button img {
    width: 3rem;
    cursor: pointer;
    padding-left: 0.5rem;
}

.quizz-info-difficulte button {
    cursor: pointer;
    background-color: #FFCD42;
    border-radius: 50%;
    border: none;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.quizz-info-difficulte button:hover {
    cursor: pointer;
    background-color: #ffd76a;
}


/* HIDDEN / SHOW */

.hidden {
    display: none;
}

.show {
    display: block;
}

.show-delete {
    position: absolute;
    top: 50%;
    /* Déplace le coin supérieur gauche à 50% du haut */
    left: 50%;
    /* Déplace le coin supérieur gauche à 50% de la gauche */
    transform: translate(-50%, -50%);
    /* Décale le div de la moitié de sa propre taille */
    width: 200px;
    height: 100px;
    background-color: rgb(243, 8, 8);
    text-align: center;

}