/* POLICES */

@font-face {
    font-family: JaldiRegular;
    src: url("../fonts/Jaldi-Regular.ttf");
}

@font-face {
    font-family: JaldiBold;
    src: url("../fonts/Jaldi-Bold.ttf");
}

@font-face {
    font-family: PaytoneOneRegular;
    src: url("../fonts/PaytoneOneRegular.ttf");
}

/* ANIMATIONS */

@keyframes disappear {
    0% {
        opacity: 1;
        transform: rotateX(-90deg);
    }

    50% {
        transform: rotateX(0deg);
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
        transform: rotateX(90deg);
    }
}


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(126, 255, 141, 41%) 0%, rgba(102, 102, 102, 17%) 100%);
    font-family: JaldiRegular;
    overflow: hidden;
    box-sizing: border-box;

}

#main-contener {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 90%;
}

.shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.shadow-box {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.alert {
    background-color: #f80000;
    color: #ffffff;
    font-size: 1rem;
    width: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.info {
    background-color: #f8b809;
    color: #363333;
    width: 25%;
    padding: 0.5rem;
    border-radius: 5px;
    animation-name: disappear;
    animation-duration: 9000ms;
    animation-fill-mode: forwards;
}

/* TITRES */

h2 {
    font-family: PaytoneOneRegular;
    font-size: 3rem;
    line-height: 3.5rem;
}

/* BOUTONS */

.btn1 {
    font-family: JaldiRegular;
    width: fit-content;
    font-size: 1.5rem;
    color: #382300;
    background-color: #FFCD42;
    border-radius: 15px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.btn1:hover {
    background-color: #ffd76a;
    text-decoration: underline;
}


/* HEADER */

header {
    height: 10%;
}

#header-main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#profil-circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #FFCD42;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
}

#profil-circle:hover {
    background-color: #ffd76a;
    cursor: pointer;

}

.profil-name {
    color: #363333;
    font-size: 1rem;
    margin: auto;
    margin-top: 0.2rem;
    text-align: center;
    font-family: JaldiBold;

}

#profil {
    width: 2rem;

}

#logo {
    width: 8rem;

}

.profil-pannel {
    background-color: #FFE089;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    font-size: 1rem;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
    font-family: PaytoneOneRegular;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 4.5rem;
    right: 4.5rem;
}

.profil-pannel img {
    width: 1.2rem;
}

.profil-pannel span {
    margin-left: 0.2rem;
}

.profil-pannel a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    color: #363333;
}

.profil-pannel a:hover {
    text-decoration: underline;
}


/* LOGIN */

.container-log {
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
    padding: 1.5rem;
    border-radius: 20px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
    margin: auto;
}

.h2-log {
    margin: 0.8rem 2.2rem 1.2rem 2.2rem;
}

.form-log,
.form-log-register {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.form-log label,
.form-log-register label {
    font-size: 1.4rem;
}

.form-log .checkbox {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-log .checkbox input {
    margin-right: 0.4rem;
    margin-bottom: 0;
}

.form-log-register div label,
.form-log-register div input {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.form-log input,
.form-log-register input {
    margin-bottom: 0.2rem;
    height: 1.5rem;
}


.register-btn {
    margin: auto;
    margin-top: 1.5rem;
}

.container-log .btn1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.log-btn {
    margin: auto;
}

.text-fin-log {
    display: flex;
    margin: auto;
    margin-top: 0.3rem;

}

.text-fin-log p {
    margin: 0.3rem;
    margin-right: 0.1rem;
    font-size: 1rem;
}

.text-fin-log a {
    color: #FFFFFF;
}

.text-fin-log a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}



/* CARDS / ACCUEIL */


.cards-contener-main {
    width: 60%;
    height: 90%;
    overflow: scroll;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 20px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
    display: flex;
    flex-direction: column;
}

.options-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-search-left {
    display: flex;
    margin: 1rem;
}

.options-search input,
.options-search select,
.checkbox-input {
    margin-right: 0.5rem;
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 1rem;
    padding: 0.2rem;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: #363333;
    cursor: pointer;
}

.checkbox-input p {
    margin-right: 0.5rem;
}


.options-search label {
    display: none;
}

#recherche-titre {
    margin-right: 0.5rem;
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 1rem;
    padding: 0.2rem;
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: #363333;
    cursor: pointer;
}

.circle-plus-button {
    background-color: #FFCD42;
    color: #363333;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;

    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.circle-plus-button:hover {
    background-color: #ffd76a;
    cursor: pointer;
}

.circle-plus-button img {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
}


#recherche-titre {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

#recherche-titre input {
    margin-left: 1rem;
    margin-right: 0.5rem;
}


.cards-and-plus-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.cards-contener {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.card {
    padding: 10px;
    width: 11rem;
    height: fit-content;
    margin: 1rem;
    background-color: #3C6D2A;
    border-radius: 20px;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}

.en-tete-card {
    display: flex;
    justify-content: space-between;
    height: 2rem;
}

.en-tete-card img {
    width: 2rem;
}

.langue {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.createur-liste {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-style: italic;
}


.titre-liste-contener {
    width: 85%;
    margin: auto;

}

.titre-liste {
    font-family: PaytoneOneRegular;
    text-transform: uppercase;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    height: 4.5rem;
    overflow-y: auto;
    word-break: break-word;
    font-size: 1.2rem;
    margin-bottom: 0.3rem;

}

.note-liste {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.note-liste img {
    width: 1rem;
    padding: 0.1rem;
}

.note-liste span {
    font-size: 0.8rem;
    font-style: italic;
}

.heart-icon {
    width: 1.3rem;
    cursor: pointer;
    display: flex;
    margin: auto;
    margin-top: 0.5rem;
}

.meilleur-score {
    font-size: 1rem;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.footer-card {
    display: block;
}


.footer-card .play-img {
    width: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: auto;
    padding-left: 0.5rem;
}

.play-icon {
    cursor: pointer;
    background-color: #FFCD42;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    margin: auto;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.edit-and-delete {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.edit-delete-icon {
    cursor: pointer;
    background-color: #FFCD42;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.edit-and-delete img {
    width: 1rem;
    cursor: pointer;
}

.button-plus-bottom {
    display: flex;
    margin: auto;
    margin-top: 1rem;
}



/* QUIZZ */
/* INDEX QUIZZ */

.quizz-container {
    width: 50%;
    height: fit-content;
    overflow: scroll;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 20px 30px 20px 30px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
    display: flex;
    flex-direction: column;
}

.quizz-entete h2 {
    text-transform: uppercase;
    font-family: PaytoneOneRegular;

}

.circle-bouton-retour {
    cursor: pointer;
    background-color: #FFCD42;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    margin: auto;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.circle-bouton-retour img {
    width: 2rem;
    cursor: pointer;
}

.circle-bouton-retour:hover {
    cursor: pointer;
    background-color: #ffd76a;
}

.quizz-entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quizz-info {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.quizz-info p {
    margin-right: 3rem;
}

.quizz-info-langues {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.quizz-info-langues p {
    font-size: 2rem;
    font-family: PaytoneOneRegular;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.quizz-info-langues img {
    cursor: pointer;
    height: 1.8rem;
    padding: 0.5rem;
}

.quizz-info-reponse-maj {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.2rem;
}

.quizz-info-difficulte {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;

}

.quizz-info-difficulte div {
    display: flex;
    align-items: center;
}

.quizz-info-difficulte form {
    width: 100%;
}

.quizz-info-difficulte select {
    margin-right: 0.5rem;
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 1.5rem;
    padding: 0.2rem;
    width: 12rem;
    color: #363333;
    cursor: pointer;
}

.quizz-info-difficulte label {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.quizz-info-difficulte button img {
    width: 3rem;
    cursor: pointer;
    padding-left: 0.5rem;
}

.quizz-info-difficulte button {
    cursor: pointer;
    background-color: #FFCD42;
    border-radius: 50%;
    border: none;
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.quizz-info-difficulte button:hover {
    cursor: pointer;
    background-color: #ffd76a;
}


/* QUIZZ QUESTIONS */

.questions-contener {
    width: 50%;
    height: fit-content;
    overflow: scroll;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 20px 30px 20px 30px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
    display: flex;
    flex-direction: column;
}

.circle-bouton-close {
    cursor: pointer;
    background-color: #FFCD42;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;

    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.circle-bouton-close img {
    width: 1rem;
    cursor: pointer;
}

.circle-bouton-close:hover {
    cursor: pointer;
    background-color: #ffd76a;
}

.quizz-question-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
}

.a-traduire {
    font-size: 4.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
}

.questions-contener form label {
    display: none;
}

.questions-contener form input {
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 2.2rem;
    padding: 0.2rem;
    display: flex;
    width: 40%;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
    color: #363333;
    cursor: pointer;
}

.questions-contener form input:focus {
    outline: none;
}

.carac-speciaux-contener {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.carac-speciaux-contener p {
    margin-right: 0.5rem;
    background-color: #FFCD42;
    border-radius: 8px;
    width: 2rem;
    height: 2rem;
    color: #363333;
    font-family: PaytoneOneRegular;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25)a;
}

.carac-speciaux-contener p:hover {
    cursor: pointer;
    background-color: #ffd76a;
}

.boutons-questions {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.boutons-questions button,
.boutons-questions-erreurs button {
    cursor: pointer;
    background-color: #FFCD42;
    border: none;
    border-radius: 10px;
    width: fit-content;
    height: 2.8rem;
    padding: 0.5rem 2.8rem 0.5rem 2.8rem;
    display: flex;
    font-family: PaytoneOneRegular;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #363333;
    margin-bottom: 2rem;
    margin-top: 1rem;
    align-items: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.boutons-questions button:hover {
    cursor: pointer;
    background-color: #ffd76a;
}

/* QUIZZ CORRIGE */

.reponse-et-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon-corrige {
    font-size: 2.5rem;
    display: flex;
    text-align: center;
    width: 2.5rem;
    padding-left: 3rem;

    align-items: center;
}

.reponse-et-icon input {
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 2.2rem;
    padding: 0.2rem;
    margin-left: 5.5rem;
    display: flex;
    width: 40%;
    align-items: center;
    text-align: center;
}

.reponse-et-icon-presque div input {
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 2.2rem;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 5.5rem
}

.reponse-et-icon-presque {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.icon-presque {
    width: 2rem;
    padding-left: 3rem;
}

.correct {
    color: #1DAC00;
}

.incorrect {
    color: #FF0000;
}

.boutons-questions a {
    text-decoration: none;
}

.bonne-reponse {
    font-size: 2.5rem;
    margin-top: 3rem;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3rem;
}

.bonne-reponse-p {
    font-weight: 900;
    font-size: 3rem;
}


/* QUIZZ RESULTAT */

.quizz-resultat-contener {
    width: 50%;
    height: fit-content;
    overflow: scroll;
    border-radius: 20px;
    color: #FFFFFF;
    padding: 20px 30px 20px 30px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
    display: flex;
    flex-direction: column;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quizz-resultat-entete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.circle-bouton-close img {
    width: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quizz-resultat-entete h2 {
    text-transform: uppercase;
    max-width: 45%;
}


.quizz-resultat-entete-difficulte-close {
    display: flex;
    justify-content: center;

}

.quizz-resultat-entete-difficulte {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: 2rem;
}

.quizz-resultat-entete-difficulte h4 {
    font-size: 1.6rem;
    font-family: PaytoneOneRegular;
}

.quizz-resultat-entete-difficulte p {
    font-size: 1.5rem;
    height: 1.5rem;
}

.quizz-resultat-contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quizz-resultat-contenu h3 {
    font-size: 2rem;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.quizz-resultat-contenu-erreurs {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 12rem;
    overflow: scroll;
    justify-content: space-around;
    margin-bottom: 4.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.quizz-resultat-contenu-erreurs-questions,
.quizz-resultat-contenu-erreurs-reponses,
.quizz-resultat-contenu-erreurs-votre-reponse {
    justify-content: center;
    align-items: center;
}

.quizz-resultat-contenu-erreurs-questions div,
.quizz-resultat-contenu-erreurs-reponses div,
.quizz-resultat-contenu-erreurs-votre-reponse div {

    box-sizing: border-box;
    border-left: 1px solid #FFFFFF;
    padding: 0.5rem;
}

.quizz-resultat-contenu-erreurs h5 {
    font-size: 1.4rem;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 0.8rem;
    text-transform: uppercase;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #124200;
}

.quizz-resultat-contenu-erreurs div p {
    font-size: 1.2rem;
}


.quizz-resultat-note,
.quizz-resultat-favori {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0.7rem;
}

.quizz-resultat-note p,
.quizz-resultat-favori p {
    font-size: 1.2rem;
    font-family: PaytoneOneRegular;
}

.star-full-contener {
    cursor: pointer;
    margin-left: 0.5rem;
    background-image: url("../img/star-full-icon.png");
    background-size: contain;
    width: 1.7rem;
    height: 1.7rem;
    background-position: center;
}

.star-empty-contener {
    cursor: pointer;
    margin-left: 0.5rem;
    background-image: url("../img/star-empty-icon.png");
    background-size: contain;
    width: 1.7rem;
    height: 1.7rem;
    background-position: center;
}


.star-empty-contener:hover {
    cursor: pointer;
    background-image: url("../img/star-full-icon.png");
}

.star-full-contener:hover {
    cursor: pointer;
    background-image: url("../img/star-empty-icon.png");
}


.heart-contener {
    cursor: pointer;
    margin-left: 0.5rem;
    background-image: url("../img/heart-empty-icon.png");
    background-size: contain;
    width: 1.7rem;
    height: 1.7rem;
    background-position: center;
}

.heart-contener:hover {
    cursor: pointer;
    background-image: url("../img/heart-icon.png");
}

.quizz-resultat-boutons {
    margin-bottom: 2rem;
}

.quizz-resultat-boutons .boutons-questions button,
.quizz-resultat-boutons .boutons-questions-erreurs button {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
    text-align: center;
    max-width: 20rem;
    height: fit-content;

}

.quizz-resultat-boutons .boutons-questions {
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.quizz-resultat-boutons .boutons-questions-erreurs {
    display: flex;
    justify-content: center;
}

.quizz-resultat-boutons .boutons-questions a,
.quizz-resultat-boutons .boutons-questions-erreurs a {
    text-decoration: none;
    padding: 0.5rem;
}

/* LISTE EDITER + CREER*/

.modifier-liste-contener {
    width: 60%;
    height: fit-content;
    max-height: 70%;
    overflow: scroll;
    color: #FFFFFF;
    padding: 1.5rem 3rem;
    border-radius: 20px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
    display: flex;
    flex-direction: column;
    margin: auto;

}

.modifier-liste-contener-entete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.modifier-liste-contener form {
    display: flex;
    flex-direction: column;
}

.modifier-liste-contener form div:not(.edit-traduction-contener) {
    display: flex;
    flex-direction: row;
}

.modifier-liste-contener form label {
    font-size: 1.2rem;
    margin-right: 0.5rem;
    display: inline-block;
    width: 8rem;
}

.modifier-liste-contener form input:not(.bouton-modifier-liste),
.modifier-liste-contener form select {
    background-color: #FFE089;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: JaldiRegular;
    font-size: 1.2rem;
    padding: 0.2rem;
    color: #363333;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}



.modifier-liste-contener form .btn-remove-traduction {
    cursor: pointer;
    background-color: #FFCD42;
    border: none;
    border-radius: 10px;
    width: fit-content;
    height: 2.8rem;
    padding: 0.5rem;
    display: flex;
    font-family: PaytoneOneRegular;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #363333;
    display: flex;
    align-self: flex-end;
    margin-bottom: 0.4rem;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.modifier-liste-contener form button:hover {
    cursor: pointer;
    background-color: #ffd76a;
}

.modifier-liste-contener form button img {
    width: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.edit-traduction-contener {
    width: fit-content;
}

.traduction-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bouton-add-traduction {
    cursor: pointer;
    background-color: #FFCD42;
    border: none;
    border-radius: 8px;
    padding: 0.8rem 0.2rem;
    display: flex;
    font-family: PaytoneOneRegular;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #363333;
    display: flex;
    align-items: center;
    margin-left: 9rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.bouton-modifier-liste-contener {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.bouton-modifier-liste-contener input {
    font-size: 1.5rem;
    font-family: PaytoneOneRegular;
    background-color: #FFCD42;
    border-radius: 8px;
    padding: 1rem 0.6rem;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 4px 4px 0px rgba(255, 255, 255, 0.23), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #363333;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.bouton-modifier-liste-contener input:hover {
    cursor: pointer;
    background-color: #ffd76a;
}

input[type="checkbox"] {
    accent-color: #FFE089;
}






/* HIDDEN / SHOW */



.hidden {
    display: none;
}

.show {
    display: block;
}

.show-delete {
    display: block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    /* Déplace le coin supérieur gauche à 50% du haut */
    left: 50%;
    /* Déplace le coin supérieur gauche à 50% de la gauche */
    transform: translate(-50%, -50%);
    /* Décale le div de la moitié de sa propre taille */
    width: 25rem;
    border-radius: 20px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;

}

.show-delete img {
    width: 4rem;
    margin: 1rem;
}

.show-delete p {
    text-decoration: none;
    font-family: JaldiRegular;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1.2rem;
    line-height: 1rem;
    margin-bottom: 0.5rem;
    width: 80%;
}

.show-delete-buttons {
    display: flex;
    justify-content: space-around;
    width: 15rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.show-delete-buttons button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.cancel_delete,
.supprimer-button-show-delete {
    width: fit-content;
    padding: 0.5rem 1rem;
}

.supprimer-button-show-delete {
    color: #ffffff;
    background-color: #EE2828;
}

.supprimer-button-show-delete:hover {
    background-color: #e91818;

}

.show-delete-buttons button:hover {
    cursor: pointer;
}