/* POLICES */

@font-face {
    font-family: JaldiRegular;
    src: url("../fonts/Jaldi-Regular.ttf");
}

@font-face {
    font-family: JaldiBold;
    src: url("../fonts/Jaldi-Bold.ttf");
}

@font-face {
    font-family: PaytoneOneRegular;
    src: url("../fonts/PaytoneOneRegular.ttf");
}


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(126, 255, 141, 41%) 0%, rgba(102, 102, 102, 17%) 100%);
    font-family: JaldiRegular;
}

#main-contener {
    color: #FFFFFF;
    padding: 20px;
    margin: auto;
    width: 80%;
    border-radius: 20px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);

}

.shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.shadow-box {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* TITRES */

h2 {
    font-family: PaytoneOneRegular;
    font-size: 2rem;
}

/* BOUTONS */

.btn1 {
    font-family: JaldiRegular;
    width: fit-content;
    font-size: 0.8rem;
    color: #382300;
    background-color: #FFCD42;
    border-radius: 15px;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    box-shadow: inset 0 4 4 0 rgba(255, 255, 255, 0.23);
}

.btn1:hover {
    background-color: #ffd76a;
    text-decoration: underline;
}


/* HEADER */

header {
    height: 20%;
}

#header-main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#profil-circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #FFCD42;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
}

#profil-circle:hover {
    background-color: #ffd76a;
    cursor: pointer;

}

#profil {
    width: 1.2rem;

}

#logo {
    width: 5rem;

}


.profil-pannel {
    background-color: #FFE089;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
    margin: 10px;
}


/* LOGIN */

.container-log {
    width: fit-content;
    height: fit-content;
    color: #FFFFFF;
    padding: 1rem;
    margin: auto;
    border-radius: 20px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
}

.h2-log {
    margin: 0.5rem 2rem 1rem 2rem;
}

.form-log,
.form-log-register {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.form-log label,
.form-log-register label {
    font-size: 0.7rem;
}

.form-log .checkbox {
    margin-top: 1.3rem;
    text-align: center;
}

.form-log-register div label,
.form-log-register div input {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.form-log input {
    margin-bottom: 0.2rem;
}


.register-btn {
    margin: auto;
    margin-top: 1.5rem;
}
.container-log .btn1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.log-btn {
    margin:auto;
}

.text-fin-log {
    display: flex;
    margin: auto;
    margin-top: 0.3rem;

}

.text-fin-log p {
    margin: 0.3rem;
    margin-right: 0.1rem;
    font-size: 0.7rem;
}

.text-fin-log a {
    color: #FFFFFF;
}

.text-fin-log a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}



/* CARDS */

.card {
    padding: 10px;
    width: 168px;
    height: fit-content;
    background-color: #3C6D2A;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);

}

/* HIDDEN / SHOW */

.hidden {
    display: none;
}

.show {
    display: block;
}

.show-delete {
    position: absolute;
    top: 50%;
    /* Déplace le coin supérieur gauche à 50% du haut */
    left: 50%;
    /* Déplace le coin supérieur gauche à 50% de la gauche */
    transform: translate(-50%, -50%);
    /* Décale le div de la moitié de sa propre taille */
    width: 200px;
    height: 100px;
    background-color: rgb(243, 8, 8);
    text-align: center;

}