/* POLICES */

@font-face {
    font-family: JaldiRegular;
    src: url("../fonts/Jaldi-Regular.ttf");
}

@font-face {
    font-family: JaldiBold;
    src: url("../fonts/Jaldi-Bold.ttf");
}

@font-face {
    font-family: PaytoneOneRegular;
    src: url("../fonts/PaytoneOneRegular.ttf");
}


/* GLOBAL */

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(126, 255, 141, 41%) 0%, rgba(102, 102, 102, 17%) 100%);
    font-family: JaldiRegular;
}

#main-contener {
    color: #FFFFFF;
    padding: 20px;
    margin: auto;
    width: 80%;
    border-radius: 20px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);

}

/* TITRES */

h2 {
    font-family: PaytoneOneRegular;
    font-size: 2.8rem;
}

/* BOUTONS */

.btn1 {
    
}


/* HEADER */

#header-main {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#profil-circle {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background-color: #FFCD42;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
}

#profil {
    width: 32.27px;
    height: 32.27px;
}



.profil-pannel {
    background-color: #FFE089;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);
    margin: 10px;
}


/* LOGIN */

.container-log {
    width:min-content;
    height: 50%;
    color: #FFFFFF;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    background-image: linear-gradient(125.649deg, #124200 9%, #3F772B 100%);
}

.h2-log {
    margin: 0.5rem 4rem;
}

.form-log {
    margin: auto;
    display:flex;
    flex-direction: column;
    text-align: left;
    width: 80%;
}

.form-log input {
    margin-bottom: 0.3rem;
}

/* CARDS */

.card {
    padding: 10px;
    width: 168px;
    height: fit-content;
    background-color: #3C6D2A;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 4 4 0 rgba(0, 0, 0, 0.25);

}

/* HIDDEN / SHOW */

.hidden {
    display: none;
}

.show {
    display: block;
}

.show-delete {
    position: absolute;
    top: 50%;
    /* Déplace le coin supérieur gauche à 50% du haut */
    left: 50%;
    /* Déplace le coin supérieur gauche à 50% de la gauche */
    transform: translate(-50%, -50%);
    /* Décale le div de la moitié de sa propre taille */
    width: 200px;
    height: 100px;
    background-color: rgb(243, 8, 8);
    text-align: center;

}