{% extends 'base.html.twig' %}

{% block title %}Résultat du quizz
{% endblock %}

{% block body %}
	<a href="{{path('app_accueil')}}">
		<button>Retour à l'accueil</button>
	</a>
	<p>Score :{{score_final}} %
		en difficulté :
		{{p_difficulte}}</p>
	<p>Titre de la liste :
		{{liste.titre}}</p>

{% endblock %}
