{% extends 'base.html.twig' %}

{% block title %}Résultat du quizz
{% endblock %}

{% block body %}
	<p>Score :{{score_final}}
		en difficulté :
		{{p_difficulte}}</p>
	<p>Titre de la liste :
		{{liste.titre}}</p>



{% endblock %}
